@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


:root{
    --c-softblue: hsl(215, 51%, 70%);
    --c-cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white:  hsl(0, 0%, 100%);
    --p-fsize: 18px;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
}
.card{
    background-color: var(--card-bg);
    border-radius: 10px;
    max-width: 20rem;
    margin-bottom: 20px;
    padding: 1.2rem;
}
.hover-img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    border-radius: 10px;
}
.img{
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.img img{
    border-radius: 10px;
    width: 100%;
    background: var(--c-cyan);
}
.hover-img:hover{
    transition: ease-in 0.2s;
    opacity: 1;
    background-color: rgba(0, 255, 255, 0.384);
    cursor: pointer
}
.title h1{
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
}
.title h1:hover{
    color: var(--c-cyan);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.content p{
    color: var(--c-softblue);
    line-height: 1.5rem;
}
.divider{
    border-bottom: 2px;
}

.price{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.price .eth{
    color: var(--c-cyan);
    margin-right: auto;
}
.price .time{
    color: hsl(215, 51%, 70%);
}
.price svg{
    margin: 0 0.5rem 0 0;
}
.divider{
    border: solid;
    border-width: thin;
    color: var(--line-color);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--c-softblue);
}
.attribution a { 
    color: var(--c-cyan); 
}

.creator{
    display: flex;
    align-items: center;
    color: var(--c-softblue);
    font-weight: 200;
    margin-top: 15px;
}
.creator a{
    color: white;
    font-weight: 200;
    text-decoration: none;
}
.creator a:hover{
    color: var(--c-cyan);
    transition: 0.4s;
}
.creator img{
    width: 25px;
    height: 25px;
    margin-right: 1rem;
    border: solid;
    border-radius: 50%;
    border-width: thin;
    color: white;
}